{% extends 'layout.html' %}

{% block body %}
    <div class="inner cover">
        <p class="lead">
            Detection of phishing websites is a really important safety measure for most of the online platforms. So, as to save a platform with malicious requests from such websites, it is important to have a robust phishing detection system in place.
        </p>
        <p class="lead">
        <h1> A Project By </h1>
            <ul style="list-style-type: none; padding-left: 0;">
                <li style="font-size: 24px;">Kushal N</li>
                <li style="font-size: 24px;">Deepak P</li>
                <li style="font-size: 24px;">Amodh Jain</li>
                <li style="font-size: 24px;">Nandish Gali</li>
            </ul>
        </p>
    </div>
{% endblock %}
